
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.img_register {
  background-image: url("/images/info_1.png");
  height: 50vh;
  display: flex;
  align-self: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
